*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #E7E6ED;
}
html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
input, select, textarea, button { font-family: inherit; }